<div class="jumbotron">
  <h1>Ctrl.Alt.Del</h1>
  <p>the message board for your motherboard.</p>
</div>
<div id="navbar">
  <ul>
    <li>{{#link-to 'index' class="nav-links"}}Home{{/link-to}}</li>
    <li>{{#link-to 'about' class="nav-links"}}About{{/link-to}}</li>
    <li><a href="https://stackoverflow.com" target="_blank" class="nav-links">StackOverflow</a></li>
    <li><a href="https://www.quora.com/" target="_blank" class="nav-links">Quora</a></li>
  </ul>
</div>

<div class="container">
{{outlet}}
</div>
<footer>
  <p>Made by Gloria. 2017.</p>
  <a href="https://github.com/GloriaFriesen" target="_blank"><img src="assets/images/github.png"></a>
  <a href="https://www.linkedin.com/in/gloria-friesen-66b14012a/" target="_blank"><img src="assets/images/linkedin.png"></a>
</footer>
