<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{model.query}}</h2>
    <p>who's asking: {{model.author}}</p>
  </div>
  <div class="panel-body">
    <p>{{model.note}}</p>
  </div>
</div>
